* {
  box-sizing: border-box;
}
.btn {
  margin:10px 5px;
}
#equal {
  height:100px;
}
#disbox2 {

  padding: 10px;
  margin-right: 80px;
  margin-left: auto;
  margin-bottom: -20px;
}
#disbox {
  padding: 10px;
  margin-right: 80px;
  margin-left: auto;
}

#box {
  margin: 30px auto;
  border-radius: 20px;
  border: 2px black solid;
}
#numbers {
  padding-left: 75px;
  padding-bottom: 30px;
}
.hila {
  margin-left: 15px;
}
